<div class="container">    
  
  <div class="card">
    <form>
      
      <h2>BATA-OCI Report</h2>
      <h3>Fill the Details....</h3> 
      <mat-form-field style="margin-right: 10px;" class="field" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput value="">
      </mat-form-field>            
      <mat-form-field class="field" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput value="">
      </mat-form-field>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput value="">
      </mat-form-field>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Massage</mat-label>
        <textarea rows="5" placeholder="Hey,Write Your Opinion" matInput></textarea>   
      </mat-form-field> 
      <div class="text-center">
        <button type="submit" mat-raised-button color="accent">Submit</button>
        <button type="reset" mat-raised-button color="accent">Reset</button>
      </div>
   
    </form>       
  </div>
</div>

